<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    {% if description %}
    <meta name="description" content="{{description}}" />
    {% endif %} {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  </head>
  <body class="h-screen flex flex-col">
    <div class="flex-1">
      <nav
        class="container max-w-screen-xl mx-auto px-4 flex justify-between my-6"
      >
        <strong><a href="/">Flow Temperature Toolkit</a></strong>
        <div class="flex gap-4">
          <a href="{{ '/principles/' | url }}">Principles</a>
          <a href="#evidence">Evidence</a>
          <a href="#contact">Contact</a>
        </div>
      </nav>

      {{ content | safe }}
    </div>

    <footer class="py-6 bg-slate-200">
      <div class="container max-w-screen-xl mx-auto px-4 flex justify-between">
        <strong>The boiler flow temparature toolkit by Nesta</strong>
        <span>
          <a
            href="http://nesta.org.uk"
            target="_blank"
            rel="noopener noreferrer"
            class="mr-5"
            >About Nesta</a
          >
          <a href="#legal">Legal</a>
        </span>
      </div>
    </footer>

    <!-- <script src="/static/js/alpine.js"></script> -->
  </body>
</html>
